* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {   
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* ===============Shared style============== */

.btn {
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    line-height: 19px;
}

.btn:hover {
    background-color: black;
}



.nav-container, .banner-container {
    width: 85%;
    max-width: 1600;
    margin: 0 auto;
}




/* ==================Main Style================== */



/* =======NAV============ */

.nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.menu-div li {
    display: inline;
    padding-right: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

/* =======Header/Banner============ */


header {
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 674px;
    padding: 70px 120px 134px 120px;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 40px;   
    
}


.banner-container {
    text-align: center;
    max-width: 770px;
    width: 100%;
    
}

.btn-one {
    background-color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.banner-container h2 {
    font-size: 68px;
    font-weight: bold;
    line-height: 84px;
    text-transform: capitalize;
    text-align: center;
    color: white;
    margin-bottom: 16px;   
}


.banner-container p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner-button {
    display: flex;
    justify-content: center;
    gap: 16px;
}


